html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 18px 0;
  overflow-x: hidden;
  background-color: #ffffff;
  position: relative;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  max-width: 1000px;
  min-height: 120vh;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 0 100px 0;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
}

nav {
  position: relative;
  background-color: #0A0F0D;
  z-index: 9999;
  padding: 15px 6%;
  width: 100%;
  max-width: 1000px;
  border-radius: 8px 8px 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  background-color: #0A0F0D;
  color: #ffffff;
  border-radius: 0 0 8px 8px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

ul {
  margin-top: 34px;
}

li {
  margin: 6px 0;
  color:  #0A0F0D;
}

h1 {
  color: #2A1E5C;
}

h4 {
  color: #EE4266;
}

a {
  color: #fff;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.p-side-4 {
  padding: 0 4%;
}

.p-side-6 {
  padding: 0 6%;
}

.my-05 {
  margin: 0.5rem 0;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.small-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.fixed-grid {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-gap: 2rem;
}

.justify-self-end {
  justify-self: end;
}

.recipe.grid {
  margin-top: 60px;
  column-gap: 80px;
}

.line {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.showReel {
  width: 100%;
  min-height: 500px;
  height: 60vh;
  position: relative;
}

.showOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(10,15,13);
  background: linear-gradient(90deg, rgba(10,15,13,0.79) 0%, rgba(0,0,0,0.39) 30%, rgba(10,15,13,0) 90%, rgba(10,15,13,0.36) 100%);
}

.showContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showItem {
  height: 100%;
  width: 100%;
}

.show-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 100px;
  margin-right: 12px;
}

.card {
  width: 100%;
  min-width: 200px;
  height: 300px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 250ms;
}

.card:hover {
  transform: scale(1.02);
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  transition: 200ms;
  opacity: 1;
}

.tooltip-hidden {
  opacity: 0;
  visibility: hidden;
}

.tooltipText {
  opacity: 0;
  max-width: 180px;
  background-color:#0A0F0D;
  color: #fff;
  padding: 16px 24px;
  border-radius: 4px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: -260px;
  z-index: 1;
  transition: 300ms;

  font-size: 14px;
}

.tooltipText::after {
  content: " ";
  position: absolute;
  top: 10%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #0A0F0D;
}

.tooltip:hover .tooltipText {
  opacity: 1;
}

.back-btn {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  padding: 3px 7px;
  border-bottom: 1px solid #fff;
  border-radius: 3px;
  transition: 600ms;
  transform: translateX(-50px);
  visibility: hidden;
  color: #fff;
  opacity: 0;
}

.darkText {
  color: #000000
}

.darkBorder {
  border-bottom: 1px solid #000000;
}

.back-btn.back-btn-visible {
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}

.colorPopup-btn {
  height: 33px;
  width: 33px;;
  background-color: transparent;
}

.colorThemeIcon {
  height: 100%;
  object-fit: contain;
}

.transition-overlay {
  position: absolute;
  z-index: 8888;
  top: 0;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  clip-path: inset(0px 0% 0px 100%);

}

.transition-overlay.transition-animate {
  animation: 1s transitionAnimate;
}

@keyframes transitionAnimate {
  0% {
    clip-path: inset(0px 0% 0px 100%);
  }
  50% {
    clip-path: inset(0px 0% 0px 0%);
  }
  100%{
    clip-path: inset(0px 100% 0px 0%);
  }
}

.info-blob {
  background-color: #fff;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  padding: 0 16px;
}

span {
  vertical-align: middle;
  margin-right: 20px;
  font-weight: 200;
}

ol {
  margin: 0;
}

table {
  margin: 16px 0;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 15px;
}

.servingSize-calculator {
  justify-self: end;
  padding: 20px 25px 30px 25px;
  border: 1px solid rgba(33, 34, 39, 0.5);
  border-radius: 8px;
  width: 280px;
  height: 450px;
}

.servingSize-btn {
  background-color: #EE4266;
  color: #fff;
  width: 85px;
  height: 85px;
  border-radius: 100px;
  font-size: 18px;
  transition-duration: 250ms;
  letter-spacing: 2px;
}

.servingSize-btn:hover {
  transform: scale(1.08);
}

.operator-btn {
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #2A1E5C;
  color: #fff;
  transition-duration: 250ms;
}

.operator-btn:hover {
  transform: scale(1.08);
}

.special-grid {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

.servingSize-custom {
  position: absolute;
  left: 100%;
  top: 0;
  transition-duration: 350ms;
  transition-delay: 250ms;
  transition-timing-function: ease-out;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.slideOut {
  position: relative;
  left: 0;
  transition-timing-function: ease-in;
  transition-duration: 250ms;
}

.img-slider {
  width: 100%;
  height: 500px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popupBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: 400ms;
}

.popupBackground.visible {
  visibility: visible;
  opacity: 1;
}

.colorThemePopup {
  padding: 20px 40px 40px 40px;
  background-color: #fff;
  position: absolute;
  z-index: 9999;
  top: 42vh;
  left: 50vw;
  transform: translate(-50%, -20%);
  border-radius: 8px;
  transition: 500ms;
  opacity: 0;
  visibility: hidden;
}

.colorThemePopup.visible {
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
}

.colorPicker {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms;
}

.colorPicker:hover {
  transform: scale(1.05);
}

.color {
  width: 100%;
  height: 20px;
}

@media only screen and (max-width: 1000px) {
  html {
    scroll-behavior: unset;
  }

  body {
    padding: 0;
  }
  
  nav, footer{
    border-radius: 0;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  ol {
    padding-inline-start: 20px;
  }
  
  .grid {
    grid-template-columns: 1fr;
  }

  .servingSize-calculator {
    justify-self: center;
  }

  .img-slider {
    width: 100%;
    height: 250px;
    position: relative;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .colorThemePopup {
    padding: 20px 40px 40px 40px;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, 0);
  }

  .colorThemePopup.visible {
    transform: translate(-50%, 0);
    visibility: visible;
    opacity: 1;
  }

  .showContent {
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}