body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: "Poppins", sans-serif;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background-color: #efefef;
  padding: 100px 4%;
  position: relative;
}

nav {
  background-color: #dddddd;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  width: 100%;
  max-width: 1000px;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;
}

.recipe.grid {
  margin-top: 60px;
  column-gap: 80px;
}

.card {
  width: 100%;
  min-width: 200px;
  height: 300px;
  background-color: grey;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-duration: 250ms;
}

.card:hover {
  transform: scale(1.02);
}

.info-blob {
  background-color: #fff;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  padding: 0 16px;
}

span {
  margin-right: 20px;
  font-weight: 200;
}

ol {
  margin: 0;
}

table {
  margin: 16px 0;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 15px;
}
